img.icon {
    height:2rem;
    cursor: pointer;
    
}
.animatedToRight{
    animation-duration: .4s;
    animation-name:bounceFromLeft ;
    animation-fill-mode: both; 
}
.animatedBack{
    animation-duration: .4s;
    animation-name:bounceFromRight ;
    animation-fill-mode: both; 
}
.wrapper {
    width: 100%;
    height: 100vh;
    padding: 1.5rem 10%;
    background-color: #eeeae7;
    display: flex;
    flex-direction: column;
}

.floating-header{
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 2.5rem;
    box-shadow: 0px 0px 11px #bbbbbb;
}
.circle-textarea {
    border-radius: 2.5rem;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    font-size: 1.3rem;
}


@keyframes bounceFromLeft {
    0% {
       opacity: 0;
       transform: translateX(-35vw);
    }
    60% {
       opacity: 1;
       transform: translateX(2vw);
    }
    80% {
       transform: translateX(-1vw);
    }
    100% {
       transform: translateX(0);
    }
 } 

 @keyframes bounceFromRight {
    0% {
       opacity: 0;
       transform: translateX(0);
    }
    60% {
       opacity: 1;
       transform: translateX(-38vw);
    }
    80% {
       transform: translateX(-33vw);
    }
    100% {
       transform: translateX(-35vw);
    }
 } 